<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- mapper namespace 비워두면 에러남 -->
<!-- crud 방식 -->
<mapper namespace="com.winter.app.departments.DepartmentDAO">
	<!-- <insert id=""></insert> <select id=""></select> <update id=""></update> 
		<delete id=""></delete> -->
		
		<select id="getDetail" resultType="DepartmentDTO" parameterType="DepartmentDTO">
		SELECT * FROM DEPARTMENTS WHERE DEPARTMENT_ID=#{department_id}
		</select>
		
		<select id="getList" resultType="DepartmentDTO">
		SELECT * FROM DEPARTMENTS
		</select>
		
		<!-- 추가 -->
		<insert id="add" parameterType="DepartmentDTO">
		INSERT INTO departments
		VALUES	(LOCATIONS_SEQ.nextval, #{department_name}, #{manager_id}, #{location_id})		
		</insert>
		
		<!-- 업데이트 -->
		<update id="update" parameterType="DepartmentDTO">
		UPDATE departments SET department_name=#{department_name} WHERE department_ID=#{department_id}
		</update>
		
		<!-- 삭제 -->
		<delete id="delete" parameterType="DepartmentDTO">
		DELETE FROM departments WHERE department_ID=#{department_id}
		</delete>
		
		
		
</mapper>